* {
    border: none;
    border-radius: 0;
    font-family: JetBrainsMono Nerd Font, monospace;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #CDD6F4; /* Mocha foreground */
}

#workspaces button {
    padding: 5px;
    color: #B4BEFE; /* Light blue for workspace button */
    margin-right: 5px;
}

#workspaces button.active {
    color: #F5C2E7; /* Light pink for active button */
}

#workspaces button.focused {
    color: #F5C2E7; /* Focused text color */
    background: #F38BA8; /* Light pink background for focused workspace */
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #11111B;
    background: #A6E3A1; /* Soft green for urgent state */
    border-radius: 10px;
}

#workspaces button:hover {
    background: #CDD6F4; /* Hover state background */
    color: #11111B; /* Dark text on hover */
    border-radius: 10px;
}

#window,
#clock,
#battery,
#pulseaudio,
#network,
#cpu,
#memory,
#workspaces,
#tray,
#backlight {
    background: #1E1E2E; /* Mocha dark background */
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 5px;
}

#backlight {
    border-radius: 10px 0px 0px 10px;
}

#tray {
    border-radius: 10px;
    margin-right: 10px;
}

#workspaces {
    background: #1E1E2E; /* Same background as other elements */
    border-radius: 10px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}

#cpu {
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
}

#memory {
    border-radius: 10px 0px 0px 10px;
}

#window {
    border-radius: 10px;
    margin-left: 60px;
    margin-right: 60px;
}

#clock {
    color: #A6ADC8; /* Light blue-gray for the clock */
    border-radius: 10px;
    margin-left: 5px;
    border-right: 0px;
}

#network {
    color: #A6ADC8; /* Light blue-gray for network */
    border-radius: 10px 0px 0px 10px;
}

#pulseaudio {
    color: #A6ADC8; /* Light blue-gray for pulseaudio */
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio.microphone {
    color: #A6ADC8; /* Light blue-gray for microphone */
    border-radius: 0px 10px 10px 0px;
    border-left: 0px;
    border-right: 0px;
    margin-right: 5px;
}

#battery {
    color: #A6ADC8; /* Light blue-gray for battery */
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
}

#custom-power {
    background: #1E1E2E;
    padding: 0 10px;
    margin: 3px 0;
    border-radius: 10px;
    color: #A6ADC8; /* Light blue-gray for custom power button */
}

#custom-power:hover {
    background: #F5C2E7; /* Light pink background for hover */
    color: #11111B; /* Dark text on hover */
}
